.section-password{position:relative;padding:20px 0;text-align:center;}
.section-password:has(.password-media){height:100vh;}
.password-media{position:absolute;top:0;left:0;width:100%;height:100%;}
.password-media picture{height:100%;}
.password-media img,.password-media video{width:100%;height:100%;object-fit:cover;}
.password-meta{position:relative;z-index:1;}
.section-password:has(.password-media) .password-meta{display:flex;align-items:center;justify-content:center;flex-direction:column;height:100%;}
.password-logo svg,.password-logo img{max-width:100px;height:auto;margin:0 auto;}
.password-meta form{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;gap: 10px;}
@media(min-width:576px){
  .password-meta form input{width:auto;}
}
@media(max-width:575px){
  .password-meta form{justify-content:flex-start;}
  .password-meta form input,.password-meta form button{width:100%;}
}